[Desktop Entry]
Version=1.0
Type=Application
Name=Betaflight Configurator
Comment=Crossplatform configuration tool for the Betaflight flight control system
Exec=run.sh
Icon=io.github.betaflight.BetaflightConfigurator
Categories=Utility;HardwareSettings;
